@import url(./color.css);
/* :root{
    --main-color: orange;
    --main-color-white: white;
    --main-color-gray: #ccc;
    --main-color-n: white;

} */

body{
    padding: 0;
    margin: 0;
}

.b{
    border: 1px solid var(--main-color-gray);

}

#app{
    background-color: var(--main-color); 
    height: 100vh;
    display: flex;
    /* justify content by X */
    justify-content: center;
    /* justify content by Y */
    align-items: center;
}

.calculator{
    background-color: var(--main-color-white);
    max-width: 300px;
    width: 90%;
    
}
 